{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}home{% endblock %}

{% block extra_js %}
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<script>
$(function() {
  $('.grid').masonry({
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true,
  });
});
</script>
{% endblock %}

{% block content %}

<div class="row heading">
  <div class="col-xs-3 portrait">
    {% image page.portrait_image width-180 class='img-responsive' %}
  </div>
  <div class="col-xs-9">
    <h1>{{ page.heading }}</h1>
    <p class="lead hidden-xs">{{ page.lead }}</p>
  </div>
</div>
<hr />
<div class="row">
 <div class="col-xs-12">
    <p class="lead text-center visible-xs">{{ page.lead }}</p>
  </div>
</div>
{% for block in page.body %}
  {% if block.block_type == 'heading' %}
    <h4>{{ block }}</h4>
  {% else %}
    {{ block }}
  {% endif %}
{% endfor %}

<section class="latest-projects">
  <div class="grid">
    <div class="grid-sizer"></div>
    {% for project in latest_projects %}
    <div class="grid-item">
        <a href="{% pageurl project %}">
          {% if project.main_image %}
            {% image project.main_image fill-180x180 %}
          {% else %}
            <img src="//placehold.it/180x180" />
          {% endif %}
        </a>
        <p class="text-center">{{ project.title }}</p>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
