# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
.env

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.db

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django/wagtail stuff:
*.log
*.pot
.sass-cache/
static/

# Sphinx documentation
docs/_build/

# MacOS
.DS_Store
.google-analytics_sa_key.json
