---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const pages = await getCollection("blog");

  const paths = pages.map((page) => {
    return { params: { slug: page.slug || undefined }, props: page };
  });

  return paths;
}

const { slug } = Astro.params;
const page = Astro.props;
const formattedDate = page.data.pubDate.toLocaleString("de");

const { Content } = await page.render();
---

<h1>{page.data.title}</h1>
<p>{formattedDate}</p>
<Content />
