@import "tailwindcss";

@source inline("{dark:,hover:,}{bg,text,from,to}-primary-{blue,green,yellow}");

@import "../../node_modules/preline/variants.css";

@plugin "@tailwindcss/typography";

@custom-variant prose-inline-code (&.prose :where(:not(pre)>code):not(:where([class~="not-prose"] *)));
@utility no-content {
    &:before { content: ""; }
    &:after { content: ""; }
}

@utility animated-link {
  position: relative;
  box-decoration-break: clone;
  text-decoration: none;

  &:hover:after {
    transform: translateZ(0) scale(1);
  }

  &::after {
    left: 0;
    right: 0;
    bottom: -3px;
    content: '';
    height: 2px;
    position: absolute;
    transform: translateZ(0) scaleX(0);
    transform-origin: left center;
    transition: all 0.15s ease-in-out;
    background-image: linear-gradient(
      to right,
      var(--color-text-link),
      var(--color-text-link)
    );
  }

  &.show:after {
    transform: translateZ(0) scale(1);
  }
}

@utility show {
  &.animated-link:after {
    transform: translateZ(0) scale(1);
  }
}

@theme static {
    /* Custom #8AE6FB */
    --color-primary-blue: light-dark(oklch(0.8749 0.0924 214), oklch(0.6231 0.188 259.81));
    /* Tailwind lime-300 #bef264 */
    --color-primary-green: oklch(0.8972 0.1786 126.67);
    /* Custom #FFDE69 */
    --color-primary-yellow: oklch(0.906 0.1401 93.68);

    /* Custom #3e3355 */
    --color-text-body: light-dark(oklch(0.3486 0.0594 298.15), oklch(0.869 0.0198 252.89));
    /* Custom #3e3355 */
    --color-text-heading: light-dark(oklch(0.3486 0.0594 298.15), white);
    /* Custom #3e3355 */
    --color-text-bold: light-dark(oklch(0.3486 0.0594 298.15), white);
    /* Tailwind slate-500 #64748b */
    --color-text-muted: light-dark(oklch(0.5544 0.0407 257.42), oklch(0.7107 0.0351 256.79));
    /* Tailwind cyan-500 #06b6d4 */
    --color-text-link: light-dark(oklch(0.7148 0.1257 215.22), oklch(0.7137 0.1434 254.62));
    /* black */
    --color-text-code: light-dark(black, white);
    /* black */
    --color-text-selection: light-dark(black, white);

    --color-border-code: transparent;
    --color-bg-code: light-dark(oklch(0.9619 0.058 95.62), oklch(0.2781 0.0117 248.25));

    /* tailwind amber-50 */
    --color-bg-body: light-dark(oklch(0.9842 0.0034 247.86), oklch(0.2077 0.0398 265.75));

    /* tailwind lime-200 #d9f99d */
    --color-bg-selection: oklch(0.8649 0.203 157.78);
}

:root {
    --font-sans: 'Space Grotesk', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --container-12-gap-4: "1/2-gap-4": "calc(50% - (1/2 * 1rem))";
    color-scheme: light dark;
}

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-sans);
    }

    strong {
        font-weight: 600;
        color: var(--color-text-bold);
    }

    mark {
        background-color: var(--color-bg-selection);
        color: var(--color-text-selection);
    }

    a:not(.unset) {
        text-decoration: none !important;
        background-repeat: no-repeat;
        background-size: 100% 1.5px;
        background-position: 0 100%;
        background-image:
            linear-gradient(to right, var(--color-text-link), var(--color-text-link));
    }

    a:not(.unset):hover {
        color: var(--color-text-link);
    }

    code:not(pre code):not(.unset) {
        background-color: var(--color-bg-code);
        color: var(--color-text-code);
        padding: 0.125rem 0.25rem;
        border-radius: 0.25rem;
        font-size: 0.875em;
        font-weight: 500;
        border: 1px solid var(--color-border-code);
        margin-bottom: 1.25em;
    }

    html.dark code:not(pre code) {
        background-color: rgb(var(--color-bg-code) / 0.15);
        border-color: rgb(var(--color-border-code) / 0.15);
    }

    ul:not(.unset):not(:where([class~="prose"] *)) {
        padding-left: 0;
        list-style: none;
    }

    ul:not(.unset):not(:where([class~="prose"] *))>li {
        position: relative;
        padding-left: 1.375rem;
    }

    ul:not(.unset):not(:where([class~="prose"] *))>li::before {
        position: absolute;
        left: 0;
        content: "»";
        color: rgb(var(--color-text-muted));
    }

    ol:not(.unset):not(:where([class~="prose"] *)) {
        padding-left: 1.125rem;
    }

    ol:not(.unset):not(:where([class~="prose"] *))>li::marker {
        color: rgb(var(--color-text-muted))
    }

    ul:not(.unset):not(:where([class~="prose"] *))>li,
    ol:not(.unset):not(:where([class~="prose"] *))>li {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    ::selection {
        background: var(--color-bg-selection);
        color: var(--color-text-selection);
    }
}

html.dark .astro-code,
html.dark .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
}