---
import { Icon } from "astro-icon/components";

import SkillsAside from "@components/Cv/SkillsAside.astro";
---

<div class="fixed md:w-1/3 lg:w-1/4 md:relative md:flex md:flex-col">
    <SkillsAside />
</div>
