---
import { Picture } from "astro:assets";

const leadContent = `
    Seit ich in den 90ern die ersten BASIC-Scripts aus dem AMIGA-Magazin minutiös in meinen Amiga 600 abgetippt habe, hat mich die Faszination Software-Entwicklung mit all ihren Facetten nicht mehr losgelassen.
`;
---

<div class="flex gap-5 mb-5">
    <div class="w-1/3 md:w-1/4">
        <Picture
            class="w-full h-auto rounded-full"
            formats={["webp", "avif"]}
            densities={[1, 1.5, 2]}
            src="https://storage.schaermu.ch/schaermu_quad.jpg"
            alt="Placeholder Image"
            width={600}
            inferSize
        />
    </div>
    <div class="w-2/3 md:w-3/4">
        <h2 class="text-2xl font-bold">Stefan Schärmeli</h2>
        <em class="text-gray-400 text-sm"
            >Senior DevOps Engineer, Baujahr 1983, zu Hause in Bern.</em
        >
        <p class="hidden lg:block mt-3">{leadContent}</p>
    </div>
</div>
<p class="lg:hidden mb-5">{leadContent}</p>
