---
import { getToolTip } from "@lib/cv-helpers";

export interface Props {
    skill: string;
    score: number;
}

const { skill, score } = Astro.props;
---

<li>
    <div class="mb-1 text-sm font-medium dark:text-white hs-tooltip">
        <span class="hs-tooltip-toggle">{skill}</span>
        <span
            class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-white"
            role="tooltip">{getToolTip(skill)}</span
        >
    </div>
    <div
        class="w-full h-2 mb-2 bg-gray-200 rounded-full dark:bg-gray-700 md:h-3 md:mb-4"
    >
        <div
            class="h-2 bg-blue-600 rounded-full dark:bg-blue-500 md:h-3"
            style={{ width: score + "%" }}
        >
        </div>
    </div>
</li>
