---
export interface Props {
    skills: string[];
}

const { skills } = Astro.props;
---

<ul class="unset flex flex-wrap gap-3">
    {
        skills.map((skill) => (
            <li class="text-xs font-semibold leading-none text-slate-400 dark:text-slate-400 bg-slate-200 dark:bg-slate-800 px-3 py-2 rounded-full">
                {skill}
            </li>
        ))
    }
</ul>
