---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Thy writing be goode!";
---
<BaseLayout pageTitle={pageTitle}>
	<ul>
		<li><a href="/posts/post-1/">Post 1</a></li>
	</ul>
</BaseLayout>
