---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'the writings and musings of schaermu.';
---
<BaseLayout pageTitle={pageTitle}>
  <Fragment slot="main">
    <h1>Welcome!</h1>
  </Fragment>
</BaseLayout>