// project details
body.project-detail {
  .header {
    min-height: 20em;
    margin-top: 5em;
    padding: 2em;
    position: absolute;
    left: 0;
    width: 100%;

    .lead {
      color: $gray-darker;
    }
  }

  .content {
    margin-top: 450px;
    margin-top: 45vh;
  }
}
