// project details
body.project-detail {
  .header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 20em;
    margin-top: 5em;
    padding: 2em;
    position: absolute;
    left: 0;
    width: 100%;
  }
}
