{% load wagtailcore_tags wagtailimages_tags %}

<div class="timeline-panel">
    <div class="timeline-heading">
        <h4>{{ value.name }}</h4>
    </div>
    <div class="timeline-body">
        {{ value.text.source|safe }}
    </div>
    <div class="timeline-footer">
        <p class="text-right">{{ value.start_date|date:'M/Y' }} -
          {% if value.end_date %}
           {{ value.end_date|date:'M/Y' }}
          {% else %}
            heute
          {% endif %}
        </p>
    </div>
</div>
