---
import Navigation from "./Navigation.svelte";
import ThemeIcon from './ThemeIcon.astro';
---

<header>
    <nav class="flex flex-row">
        <Navigation client:only="svelte" />
        <ThemeIcon />
    </nav>
</header>