---
import Navigation from "./Navigation.svelte";
import ThemeIcon from './ThemeIcon.svelte';
---

<header>
    <nav class="flex flex-row">
        <Navigation client:only="svelte" />
        <ThemeIcon client:only="svelte" />
    </nav>
</header>