{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags common_tags %}

{% block body_class %}projects{% endblock %}

{% block extra_js %}
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script>
$(function() {
  $('.grid').isotope({
    itemSelector: '.grid-item',
    masonry: {
      columnWidth: '.grid-sizer',
      gutter: '.gutter-sizer',
    },
    percentPosition: true,
  });
});
</script>
{% endblock %}

{% block content %}
  <h1>{{ page.title }}</h1>
  {{ page.intro|richtext }}

  {% project_filter page total_items %}

  <div class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
  {% for project in projects %}
    <div class="grid-item">
        <a href="{% pageurl project %}">
          {% if project.main_image %}
            {% image project.main_image fill-180x180 %}
          {% else %}
            <img src="http://placehold.it/180x180" />
          {% endif %}
        </a>
        <p class="text-center">{{ project.title }}</p>
    </div>
  {% endfor %}
  </div>
{% endblock %}
