{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags common_tags %}

{% block body_class %}projects{% endblock %}

{% block extra_js %}
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<script>
$(function() {
  $('.grid').masonry({
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true,
  });
});
</script>
{% endblock %}

{% block content %}
  <h1>{{ page.title }}</h1>
  {{ page.intro|richtext }}

  <div class="row">
    <div class="col-xs-12">
      {% project_filter page total_items current_tag %}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="grid">
        <div class="grid-sizer"></div>
      {% for project in projects %}
        <div class="grid-item">
            <a href="{% pageurl project %}">
              {% if project.main_image %}
                {% image project.main_image fill-180x180 %}
              {% else %}
                <img src="//placehold.it/180x180" />
              {% endif %}
            </a>
            <p class="text-center">{{ project.title }}</p>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
