{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags taggit_templatetags2_tags %}
{% load wagtailroutablepage_tags  %}

{% block extra_css %}
  {% image page.main_image width-980 as main_image %}
  <style>
    .header .bg::after {
      {% if page.main_image %}
      background: url({{ main_image.url }});
      {% else %}
      background: url(http://placehold.it/980x350);
      {% endif %}
    }
  </style>
{% endblock %}

{% block body_class %}project-detail{% endblock %}

{% block content %}
  <section class="header">
      <div class="bg"></div>
      <h1>{{ page.title }}</h1>
      <span class="badge">{{ page.project_date|date:"F Y" }}</span>
      {{ page.lead|richtext }}
  </section>

  <section class="skills">
    {% for skill in page.skill_tags.all %}
    <h4><a href="{% routablepageurl page.get_parent.specific "skilltag" skill.name %}">
        <span class="label label-primary">{{ skill.name }}</span>
    </a></h4>
    {% endfor %}
    {% if page.project_url %}
    <h4 class="project-url">
      <a href="{{ page.project_url }}" target="_blank">
        <span class="label label-info">
          <span class="hidden-xs">Projekt-URL</span>
        </span>
      </a>
    </span></h4>
    {% endif %}
  </section>

  <section class="content row">
    <div class="col-md-6">
      <h2>Briefing</h2>
      {{ page.column1|richtext }}
    </div>
    <div class="col-md-6">
      <h2>Lösungsansatz</h2>
      {{ page.column2|richtext }}
    </div>
  </section>
{% endblock %}
