---
import { urlPatternToUrl } from "@lib/pagination";
export type Props = {
    urlPattern: string;
    firstPageUrl?: string;
    pageNumber: number;
};

const { urlPattern, firstPageUrl, pageNumber } = Astro.props;
---

<a
    class="unset relative block rounded-sm bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
    href={urlPatternToUrl(urlPattern, pageNumber, firstPageUrl)}
    >{pageNumber}
</a>
