---
export type Props = {
    url?: string;
    label?: string;
};

const { url, label } = Astro.props;
---

<li>
    <a
        class="unset relative block rounded-sm bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
        class:list={[
            {
                "pointer-events-none bg-transparent text-neutral-500 transition-all duration-300 dark:text-neutral-400":
                    !url,
            },
        ]}
        href={url}
        set:html={label}
    />
</li>
