---
import type { MarkdownHeading } from "astro";

export interface Props {
    headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<ul>
    {
        headings.map((heading) => (
            <li>
                <a href={`#${heading.slug}`}>{heading.text}</a>
            </li>
        ))
    }
</ul>
