---
export interface Props {
  label: string;
  href: string;
  highlightColor?: string;
  classList?: string[];
}

const { label, href, highlightColor = "blue", classList = [] } = Astro.props;
---

<a class="unset" href={href}>
  <span
    class:list={[
      "inline-flex items-center p-2 px-3 rounded-full text-xs font-medium border-2 border-transparent bg-slate-200 dark:text-white dark:bg-slate-700",
      `hover:border-primary-${highlightColor}`,
      ...classList,
    ]}
  >
    {label}
  </span>
</a>
