---
interface Props {
    color: string;
    classList?: string[];
}

const { color, classList = [] } = Astro.props;
---

<h1
    class:list={[
        "font-bold text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden",
        ...classList,
    ]}
>
    <span
        class:list={[
            "bg-linear-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]",
            `from-primary-${color} to-primary-${color} dark:from-primary-${color} dark:to-primary-${color}`,
        ]}
    >
        <slot />
    </span>
</h1>
