---
import type { HTMLAttributes, HTMLTag } from "astro/types";

interface Props extends HTMLAttributes<"h1"> {
  level: 1 | 2 | 3 | 4 | 5 | 6;
  id: string;
}

const { level, id } = Astro.props;

let Tag: HTMLTag = `h${level}`;
const shouldAddBeforePseudoStyle = ["h1", "h2"].includes(Tag);
---

<Tag id={id} class="group flex">
  {
    shouldAddBeforePseudoStyle ? (
      <span
        class="
      pl-6 relative block leading-[150%]
      before:absolute before:content-[''] before:w-2 before:h-full before:top-0 before:left-0 before:bg-primary-yellow
    "
      >
        <slot />
      </span>
    ) : (
      <span class="relative block leading-[150%]">
        <slot />
      </span>
    )
  }
</Tag>
