@import 'variable_override';

@mixin transition-property($args...) {
  -webkit-transition-property: $args;
  -moz-transition-property: $args;
  -ms-transition-property: $args;
  -o-transition-property: $args;
  transition-property: $args;
}

@mixin lead-text() {
  margin-bottom: $line-height-computed;
  font-size: floor(($font-size-base * 1.15));
  font-weight: 300;
  line-height: 1.4;

  @media (min-width: $screen-sm-min) {
    font-size: ($font-size-base * 1.5);
  }
}


// import modules
@import 'modules/timeline';
@import 'modules/grid';

// import pages
@import 'pages/home';
@import 'pages/projects';
@import 'pages/project-detail';
