@import 'variable_override';
@import '../css/timeline.css';

$lines-mobile: 4;
$lines-desktop: 8;

// timeline overides
.timeline-body { padding: 10px 15px 10px 15px; }
.timeline-body p {
  cursor: pointer;
  padding: 0;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  min-height: $line-height-computed*$lines-desktop;
  margin: 0 auto;
  -webkit-line-clamp: $lines-desktop;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  &.show {
    text-overflow: auto;
    overflow: auto;
    -webkit-line-clamp: auto;
  }
}

.timeline {
  margin: 10px 0 0 0;
  &::before {
    margin-bottom: 10px;
  }
  .clearfix {
    margin-bottom: 0px;
  }
}

.timeline-heading h4 {
  color: $brand-primary;
}

@media screen and (max-width: $screen-sm) {
  .timeline-body p {
    height: $line-height-computed*$lines-mobile;
    -webkit-line-clamp: $lines-mobile;
  }
}

body.projects {
  .rich-text > p {
    margin-bottom: $line-height-computed;
    font-size: floor(($font-size-base * 1.15));
    font-weight: 300;
    line-height: 1.4;

    @media (min-width: $screen-sm-min) {
      font-size: ($font-size-base * 1.5);
    }
  }
}

// home styles
body.home {
  .heading {
    font-size: 0;
    display: table;
    table-layout: fixed;

    > div[class^='col'] {
      display: table-cell;
      vertical-align: middle;
      float: none;
    }

    h1 {
      margin: 0;
    }

    @media screen and (max-width: $screen-sm) {
      h1 { font-size: $font-size-base * 2.15; }
    }

    .portrait {
      padding-right: 0;
      img {
        border-radius: 170px;
      }
    }
  }

  .career {
    margin-bottom: 4em;
    > p {
      margin-bottom: 0;
      text-align: center;
      font-style: italic;
    }

    @media screen and (max-width: $screen-sm) {
      > p {
        text-align: left;
        margin-left: 1.5em;
      }
    }
  }

  .skills {
    margin-bottom: 4em;
    .progress {
      border-radius: 0px;
    }
  }

  .latest-projects {
    a {
      text-decoration: none;
    }
  }
}
