---
import "@fontsource/space-grotesk";

import "../styles/global.css";

import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import ThemeScript from "@components/ThemeScript.astro";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html class="theme-schaermu" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#ffffff" />
    <title>{pageTitle}</title>
    <slot name="head" />
    <ThemeScript />
  </head>
  <body class="max-w-screen-xl mx-auto min-h-screen px-6 sm:px-8">
    <Header />
    <main id="main">
      <slot name="main" />
    </main>
    <Footer />
    <style>
      body {
        display: grid;
        grid-template-areas:
          "header"
          "main"
          "footer";
        grid-template-rows: 5rem minmax(0, 1fr) 5rem;
        grid-template-columns: minmax(0, 1fr);
      }
      main {
        grid-area: main;
      }
    </style>
    <script is:inline src="/node_modules/preline/preline.js"></script>
  </body>
</html>
