---
import BaseLayout from "@layouts/BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <Fragment slot="main">
    <article class="flex flex-col sm:flex-row">
      <div class="md:basis-1/4 sm:order-last">
        <div class="tags">
          {
            frontmatter.tags.map((tag: string) => (
              <p class="tag">
                <a class="unset animated-link" href={`/tags/${tag}`}>
                  {tag}
                </a>
              </p>
            ))
          }
        </div>
      </div>
      <div class="md:basis-3/4">
        <p>Published on: {frontmatter.pubDate.slice(0, 10)}</p>
        <slot />
      </div>
    </article>
  </Fragment>
</BaseLayout>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
