---
import BaseLayout from '../layouts/BaseLayout.astro';

const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <article class="flex flex-col sm:flex-row">
    <div class="md:basis-1/4 sm:order-last">
      <div class="tags">
          {frontmatter.tags.map((tag: string) => (
              <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
          ))}
      </div>
    </div>
    <div class="md:basis-3/4">
      <p>Published on: {frontmatter.pubDate.slice(0,10)}</p>
      <p>Written by {frontmatter.author}</p>
      <slot />
    </div>
  </article>
</BaseLayout>

<style>
    a {
      color: #00539F;
    }
  
    .tags {
      display: flex; 
      flex-wrap: wrap; 
      margin: 0 auto;  
    }
  
    .tag {
      margin: 0.25em;
      border: dotted 1px #a1a1a1;
      border-radius: .5em;
      padding: .5em 1em;
      font-size: 1.15em;
      background-color: #F8FCFD;
    }
  </style>