name: Test

on:
  merge_group:
  pull_request:
    branches: ["main"]

jobs:
  build-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build & push latest test docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.test
          push: true
          tags: ghcr.io/${{ github.repository }}-test:latest

  run-tests:
    needs: build-tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Run tests
        run: |
          docker run -v ${{ github.workspace }}/playwright-report:/app/playwright-report ghcr.io/${{ github.repository }}-test:latest

      - name: Upload Report
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: ${{ github.workspace }}/playwright-report/
          retention-days: 7
